/*@media (width: 2560px) {
    .container {
        max-width: 2560px;
    }*/

    /*�����*/
    /*.appheader-top-bar {
        height: 65px;
        padding: 0 35px;
    }

    .appheader-navbar {
        height: 145px;
        padding: 15px 30px;
    }

    .logo {
        max-width: initial;
    }

    .logo-top {
        font-size: 50px;
        line-height: 51px;
    }

    .logo-bottom {
        font-size: 58px;
        line-height: 58px;
    }

    .nav-button {
        font-size: 50px;
    }

    .app-subheader {
        padding: 20px 35px;
    }

    .app-subheader-button {
        font-size: 60px;
        margin: 0 20px;
    }

    .autorization-buttons span {
        font-size: 39px;
    }

    .autorization-button {
        font-size: 45px;
    }

    .authorized-user-panel p {
        font-size: 60px;
    }

    .user-dropdown {
        left: 15px;
        top: 113px;
        width: 380px;
    }

        .user-dropdown .user-account-button {
            font-size: 40px;
            padding: 20px 0;
        }

    .app-search-panel {
        width: 800px;
        top: 120px;
        right: 105px;
    }

    .user-account-button-text {
        margin-left: 20px;
    }

    .search-hints {
        max-height: 650px;
    }

    .search-hint img {
        width: 200px;
        height: 200px;
    }

    .app-phone-and-adress span,
    .search-input input,
    .search-button,
    .search-hint p {
        font-size: 35px;
    }

    .clear-value {
        font-size: 40px;
    }

    .cart-capacity {
        width: 40px;
        height: 40px;
        font-size: 32px;
    }

    .cart-wrapper {
        width: 800px;
        top: 110px;
    }

    .cart-items {
        max-height: 450px;
        padding: 10px;
    }

    .cart-item-img {
        width: 30%;
    }

    .cart-item-name {
        font-size: 15px;
    }

    .cart-item-price {
        font-size: 50px;
    }

    .cart-item-size {
        font-size: 35px;
    }

    .cart-item-remove-button {
        font-size: 40px;
    }

    .cart-order-section p {
        font-size: 34px;
    }

    .cart-order-section .bordered-button-default {
        font-size: 40px;
    }*/

    /*������� 2560*/

    /*.main-page-brands h1, .products-slider h1 {
        font-size: 50px;
    }

    .main-page-brand {
        padding: 30px 60px;
    }

        .main-page-brand img {
            width: 400px;
            height: 290px;
            max-height: none;
        }

    .main-page-show-all-button {
        font-size: 55px;
    }

    .products-slider-list-viewport {
        width: 73%;
        height: 870px;
    }

    .products-slider-list .product {
        width: 565px;
    }*/

    /*������� 2560*/

    /*.top-bar {
        margin: 50px 35px;
    }

    .bread-crumbs, .bread-crumb {
        font-size: 40px;
    }

    .filter-title,
    .search-and-sort .filter-item-name {
        font-size: 40px;
    }

    .price-ranger-slider .progress,
    .price-ranger-slider {
        height: 15px;
    }

    .price-ranger-range-inputs input {
        height: 15px;
        top: -16px;
    }

        .price-ranger-range-inputs input[type="range"]::-webkit-slider-thumb {
            width: 25px;
            height: 25px;
        }

    .price-input input,
    .price-input span,
    .filters-apply-button,
    .filter-collapse-expand-button,
    .filter-collapse-expand-button-expanded {
        font-size: 35px;
    }

    .filter-selected-box {
        padding: 7px 15px;
        border: 3px solid var(--border-font-color);
    }

        .filter-selected-box p {
            font-size: 30px;
        }

            .filter-selected-box p span {
                font-size: 35px;
            }

    .filter-item-container {
        margin: 20px 0;
    }

    .filter-selected-box .clear-value {
        font-size: 30px;
    }

    .filter-item-name {
        font-size: 30px;
    }

    .filter-item-checkbox-fake {
        width: 40px;
        height: 40px;
        border: 2px solid var(--border-font-color);
        margin-right: 15px;
    }

        .filter-item-checkbox-fake::after {
            border-right: 6px solid rgb(185 147 0);
            border-bottom: 6px solid rgb(185 147 0);
            right: 11px;
            bottom: 8px;
            width: 12px;
            height: 25px;
        }

    .sizes-filter .filter-items .filter-item-name {
        font-size: 30px;
    }

    .sort-dropdown {
        font-size: 40px;
        padding: 10px 25px;
    }

    .product {
        height: initial;
    }

    .product-preview-image {
        max-height: 568px;
    }

    .product-info {
        padding: 20px;
    }

    .product-info-categories,
    .product-info-name {
        font-size: 35px;
    }

    .product-info-name {
        margin: 10px 0;
    }

    .product-info-price {
        font-size: 50px;
    }

    .pagination-page {
        font-size: 50px;
        padding: 25px 40px;
        border: 4px solid transparent;
        border-radius: 10px;
    }

    .pagination-page-current {
        border: 4px solid;
    }*/

    /*�������� ��������*/

    /*.product-page h1, .product-page h2 {
        font-size: 60px;
    }

    .product-name {
        max-width: none;
    }

    .product-page-detail {
        font-size: 40px;
        margin: 30px 0;
    }

    .product-page-sizes-list {
        max-width: 1000px;
    }

    .product-page-size-box {
        font-size: 40px;
        border: 3px solid var(--border-font-color);
    }

    .product-page-price {
        font-size: 120px;
        margin-bottom: 20px;
    }

        .product-page-price span {
            font-size: 100px;
        }

    .add-to-cart-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 60px;
        padding: 20px;
    }

        .add-to-cart-button svg {
            margin-right: 25px;
        }

    .product-page-description p,
    .product-page-characteristics ul li p {
        font-size: 50px;
    }

    .product-page-characteristics ul li {
        margin: 25px 0;
    }

    .characteristic-interaction-button {
        font-size: 50px;
    }

    .product-page-header .characteristic-interaction-button {
        padding: 10px 15px;
    }

    .product-page-characteristics ul li div {
        top: -5px;
        right: -230px;
    }*/

    /*������� 2560*/

    /*.user-account-editing-headings h1 {
        font-size: 80px;
    }

    .user-account-side-panel h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .user-account-button {
        padding: 25px 0;
        font-size: 40px;
    }

    .user-account-field span {
        font-size: 40px;
    }

    .user-account-field input {
        font-size: 32px;
        padding: 15px 20px;
        margin: 20px 0;
    }

    .user-account-change-button {
        font-size: 40px;
    }

    .user-account .bordered-button-default {
        font-size: 50px;
    }*/

    /*������ 2560*/
    /*.popup-content {
        width: 1300px;
        padding: 50px;
    }

        .popup-content h3 {
            line-height: 100px;
            font-size: 100px;
        }

    .authorization-popup-field-wrapper {
        margin: 40px 0;
    }

    .authorization-popup-field span {
        width: 10%;
        font-size: 50px;
    }

    .authorization-personal-data span {
        width: 25%;
    }

    .authorization-popup-field-message {
        font-size: 42px;
    }

    .toggle-password-button {
        top: 20%;
        font-size: 60px;
    }

    .authoriization-parameters {
        margin-bottom: 50px;
        font-size: 60px;
    }

    .authorization-popup-button {
        font-size: 80px;
    }

    .authorization-alternative {
        margin-top: 40px;
        padding-top: 40px;
    }

        .authorization-alternative,
        .authorization-alternative span {
            font-size: 60px;
        }

    .authorization-newsletter-checkbox {
        margin-bottom: 30px;
    }

        .authorization-newsletter-checkbox span {
            font-size: 42px;
        }

    .characteristic-popup h3 {
        margin-bottom: 40px;
    }

    .characteristic-popup-field span {
        font-size: 60px;
    }

    .characteristic-popup-field input, .characteristic-popup-listed-char input,
    .authorization-popup-field input {
        padding: 20px 25px;
        font-size: 60px;
    }

    .characteristic-popup-field {
        margin: 30px 0;
    }

    .characteristic-popup-text {
        font-size: 60px;
        margin: 30px 0;
    }

    .characteristic-popup-listed-char {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 20px;
    }

        .characteristic-popup-listed-char h5 {
            font-size: 60px;
            margin-bottom: 10px;
        }

    .characteristic-popup button {
        width: 35%;
        font-size: 70px;
        padding: 20px 50px;
    }*/

    /*����� 2560*/

    /*.footer-section h2 {
        font-size: 65px;
    }

    .footer-section p, .footer-section li {
        font-size: 40px;
    }

    .social-links a {
        font-size: 80px;
        margin: 0 20px;
    }*/

    /*�������� �������������� 2560*/

    /*.confirmation-content .password-confirmation-content h1 {
        text-align: center;
        font-size: 80px;
    }

    .checkmark-wrapper {
        width: 500px;
        height: 460px;
    }

        .checkmark-wrapper::before {
            width: 98%;
        }

    .confirmation-content {
        height: 1000px;
    }

        .confirmation-content .password-confirmation-content .authorization-popup-field-wrapper {
            margin-top: 30px;
            margin-bottom: 40px;
        }

    .confirm-popup-changes-button {
        padding: 25px 50px;
        font-size: 60px;
    }
}*/

@media (max-width: 1920px) {
    .container {
        max-width: 1920px;
    }

    .product {
        max-height: 555px;
    }

    .product-preview-image {
        max-height: 450px;
    }

    .products-slider-list-viewport {
        width: 54%;
    }

    .products-slider-scroll-buttons {
        width: 70%;
    }
}

@media (width: 1440px) {
    .container {
        max-width: 1440px;
    }

    .products-slider-list-viewport {
        width: 70%;
    }

    .products-slider-scroll-buttons {
        width: 100%;
    }
}

@media (max-width: 1366px) {
    .container {
        max-width: 1366px;
    }
}

@media (width: 1024px) {
    /*������� 1024*/
    .products-slider-list-viewport {
        width: 65%;
    }

    /*�������� �������� 1024*/

    .filter-panel {
        width: 30%;
    }

    .price-input input {
        font-size: 18px;
    }

    .products-content {
        width: 65%;
    }

    .product-list {
        justify-content: center;
        gap: 10px;
    }

        .product-list .product {
            height: 360px;
        }

        .product-list .product-preview-image {
            max-height: 208px;
        }

        .product-list .product-info-name {
            font-size: 15px;
        }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    /*����� 768*/
    .user-dropdown {
        left: 0;
    }

    .app-search-panel {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        z-index: 102;
    }

        .app-search-panel .search-button {
            border-radius: 0;
        }

    .close-search-panel-button {
        background: none;
        border-radius: 5px;
        border: 2px solid var(--border-font-color);
        border-left: none;
        color: var(--border-font-color);
        transition: 0.2s;
        display: block;
        font-size: 25px;
        padding: 5px 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .search-hints {
        max-height: 90vh;
    }

    .cart-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }

    .cart-items {
        max-height: 100%;
    }

    .toggle-password-button {
        top: 20%;
    }

    /*������� 768*/

    .main-page-brands-list {
        width: 100%;
    }

    .main-page-brand {
        margin: 10px;
    }

    .products-slider-list-viewport {
        width: 90%;
    }

    .products-slider-scroll-button {
        display: none;
    }

    .cart-item-img {
        object-fit: fill; 
        width: 35%;
    }

    .cart-item-name {
        font-size: 15px;
        font-weight: 600;
    }

    .cart-item-price {
        font-size: 30px;
        font-weight: 800;
    }

    .cart-item-size {
        font-size: 20px;
    }

    .cart-order-section p {
        font-size: 20px;
    }

    .cart-item-remove-button {
        position: absolute;
        right: 10px;
        font-size: 25px;
    }

    /*������� 768*/

    .top-bar {
        margin: 25px 35px;
    }

    .filters-panel-opener {
        padding: 10px 20px;
        font-size: 18px;
        margin-left: 5px;
    }

    .filter-panel {
        width: 50%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 101;
        border-radius: 0;
    }

    .filter-panel-background {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgb(0, 0, 0, 0.6);
        z-index: 101;
    }

    .filter-panel-interact-buttons {
        width: 90%;
        display: flex; 
    }

    .filters-close-button {
        width: 10%;
        font-size: 22px;
        border-radius: 0;
    }

    .products-content {
        width: 100%;
    }

    .product-list-wrapper .preloader {
        right: 40%;
        top: 60%;
    }

    .product-list {
        justify-content: center;
    }

        .product-list .product {
            width: 30%;
            height: 355px;
        }

        .product-list .product-preview-image {
            height: 224px;
        }

        .product-list .product-info-name,
        .product-list .product-info-categories {
            font-size: 15px;
        }

    .nothing-found-content div {
        font-size: 30px;
    }

        .nothing-found-content div span {
            font-size: 35px;
        }

    /*�������� ������ 768*/
    .product-main {
        flex-direction: column;
    }


    .product-page-images {
        width: initial;
    }

    .product-page-info {
        margin-top: 25px;
    }

    .product-page-info-details h1 {
        max-width: none;
        text-align: center;
        font-size: 35px;
    }

    .product-page-sizes-list {
        max-width: 100%;
    }

    .product-page-detail {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-price-and-cart {
        justify-content: center;
    }

    .product-page-price {
        margin-bottom: 10px;
        font-size: 70px;
    }

        .product-page-price span {
            font-size: 50px;
        }

    .product-page-price-unavailable {
        font-size: 35px;
        font-weight: 800;
        border: 3px solid var(--additional-font-color);
    }

    .product-page-characteristics {
        width: 100%;
    }

        .product-page-characteristics ul li {
            flex-direction: column;
        }

            .product-page-characteristics ul li .characteristic-interaction-buttons {
                position: initial;
                width: 100%;
                display: flex;
                margin-top: 5px;
                margin-bottom: 10px;
            }

        .product-page-characteristics ul li .bordered-button-default {
            width: 100%;
        }


    /*������� 768*/
    .user-account-dummy-div {
        display: none;
    }

    .user-account-content {
        flex-direction: column;
    }

    .user-account-editing-headings {
        margin-bottom: 15px;
    }

        .user-account-editing-headings h1 {
            font-size: 35px;
            text-align: center;
        }

    .user-account-side-panel {
        width: 100%;
    }

    .user-account-editing {
        width: 100%;
    }

    .user-account-side-panel h2 {
        font-size: 30px;
        margin: 15px 0;
    }

    .user-account-content .user-account-buttons {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .user-account-content .user-account-button {
        font-size: 25px;
        width: initial;
    }

    .user-account-content .user-account-button-text {
        font-size: 25px;
    }

    .user-account-change-button {
        margin: 10px 0;
    }

    .user-account .bordered-button-default {
        margin-top: 0;
        margin-bottom: 40px;
    }

    /*������� 768*/

    .social-links-authors {
        flex-direction: column;
    }

    .social-links-author {
        margin-top: 10px;
    }
}

@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }

    /*����� 425*/

    .appheader-top-bar {
        display: none;
        height: fit-content;
    }

    .app-adress {
        font-size: 10px;
    }

    .app-phone-and-adress {
        padding: 5px;
    }

        .app-phone-and-adress span {
            font-size: 10px;
        }

    .appheader-navbar {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }

    .appheader-nav-buttons {
        display: flex;
    }

    .nav-button {
        width: fit-content;
        font-size: 25px;
        margin: 0;
    }

    .autorization-buttons-pc {
        display: none;
    }

    .autorization-button-mobile {
        display: block;
    }

    .app-subheader {
        padding: 10px;
    }

    .authorized-user-panel p {
        font-size: 20px;
    }

    .app-subheader-button {
        font-size: 25px;
    }

    .user-dropdown {
        left: 0;
    }

    /*������� 425*/

    .main-page-brands-list {
        margin-top: 10px;
    }

    .main-page-brand {
        margin: 10px;
    }

    .main-page-show-all-button {
        font-size: 25px;
        margin-top: 20px;
    }

    .products-slider-list-viewport {
        width: 75%;
    }

    .products-slider-scroll-buttons {
        display: none;
    }

    /*������� 425*/

    .top-bar {
        display: none;
        margin: 0 20px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .bread-crumbs {
        display: none;
    }

    .product-page-main-content,
    .catalog-page-main-content {
        padding-top: 20px;
    }

    .bread-crumbs, .bread-crumb {
        font-size: 16px;
    }

    .products-main {
        flex-direction: column;
    }

    .filter-panel {
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        top: 0;
        left: 0;
        position: fixed;
        width: initial;
        z-index: 101;
        padding: 20px 10px;
        border-radius: 0;
    }

    .filter-panel-butons a {
        width: 30%;
    }

    .filters-apply-button {
        width: initial;
        padding: 10px 15px;
    }

    .products-content {
        width: initial;
    }

    .sorting-and-filters {
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .filters-panel-opener {
        box-sizing: border-box;
        padding: 10px;
        font-size: 18px;
        font-weight: 600;
        border-radius: 0;
    }

    .search-and-sort {
        margin-bottom: 5px;
        flex-direction: column;
        align-items: center;
    }

    .sort-dropdown {
        width: 60%;
        padding: 10px 5px;
    }

    .product-list-wrapper .preloader {
        right: 50%;
        top: 45%;
    }

    .product-list {
        display: grid;
        gap: 10px;
        grid-template-columns: 45% 45%;
        justify-content: center;
    }

        .product-list .product {
            width: 100%;
            max-height: 335px;
        }

        .product-list .product-preview-image {
            height: 200px;
        }

        .product-list .product-info-main {
            justify-content: initial;
        }

        .product-list .product-info {
            padding: 5px 10px;
        }

        .product-list .product-info-categories {
            font-size: 16px;
        }

        .product-list .product-info-name {
            font-size: 16px;
            margin: 10px 0;
        }

        .product-list .product-info-price {
            font-size: 30px;
        }

    .pagination-pages {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .pagination-page {
        font-size: 18px;
        padding: 5px 10px;
    }
    /*�������� ������ 425*/

    .cart-item-name {
        font-size: 16px;
    }

    .cart-item-price {
        font-size: 30px;
    }

    .cart-item-size {
        font-size: 18px;
    }

    /*�������� ������ 425*/

    .product-main {
        flex-direction: column;
    }

    .product-page-images {
        width: initial;
        flex-direction: column;
    }

    .product-current-image-wrapper {
        width: initial;
    }

    .product-all-images {
        width: initial;
        flex-direction: row;
    }

    .product-image {
        width: 18%;
    }

    .product-page-info {
        margin-top: 30px;
    }

    .product-page h1 {
        text-align: center;
    }

    .product-page-detail {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin: 15px 0;
    }

    .product-page-detail {
        font-size: 17px;
    }

    .product-price-and-cart {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

        .product-price-and-cart .add-to-cart-button {
            width: 100%;
            margin-top: 10px;
        }

    .product-page h2 {
        font-size: 25px;
        text-align: center;
    }

    .product-page-section {
        margin-top: 30px;
    }

    .product-page-description,
    .product-page-characteristics {
        width: 100%;
    }

    .product-page-description {
        margin: 20px 0;
    }

        .product-page-description p {
            width: 100%;
            font-size: 18px;
        }

    .product-page-characteristics ul {
        margin-top: 10px;
    }

        .product-page-characteristics ul li {
            display: flex;
            flex-direction: column;
        }

            .product-page-characteristics ul li p {
                font-size: 18px;
            }

    .characteristic-interaction-buttons {
        margin-top: 5px;
    }

        .characteristic-interaction-buttons
        .bordered-button-default {
            width: 30%;
        }

    /*������� 425*/

    .user-account-side-panel h2 {
        font-size: 20px;
    }

    .user-account-editing-headings {
        margin-bottom: 15px;
    }

        .user-account-editing-headings h1 {
            font-size: 35px;
            text-align: center;
        }

    .user-account-content .user-account-buttons {
        margin-bottom: 0;
    }

    .user-account-content .user-account-button {
        font-size: 18px;
        width: initial;
    }

    .user-account-content .user-account-button-text {
        font-size: 18px;
    }

    .user-account-change-button {
        margin: 10px 0;
    }

    .user-account .bordered-button-default {
        margin-top: 0;
        margin-bottom: 40px;
    }
    /*����� 425*/
    footer {
        margin-top: 0;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-list-sections {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .footer-section-text {
        width: initial;
    }

    .footer-section h2 {
        font-size: 25px;
    }

    .footer-section p, .footer-section li {
        font-size: 15px;
    }

    .social-links {
        flex-direction: column;
        margin-top: 20px;
        padding: 10px 15px;
        justify-content: center;
    }

        .social-links-authors {
            margin-bottom: 10px;
        }

    .social-links-author a {
        font-size: 15px;
    }

    .social-links-media a, .social-links-media a:visited {
        font-size: 25px;
    }

        /*������ 425*/
        .popup-content {
            width: 365px;
            padding: 25px;
        }

        .popup-content h3 {
            font-size: 24px;
        }

    .authoriization-parameters {
        font-size: 17px;
        margin-bottom: 15px;
    }

    .authorization-section-fields {
        box-sizing: border-box;
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        border-top: 1px solid var(--additional-font-color-lighter);
        border-bottom: 1px solid var(--additional-font-color-lighter);
    }

    .characteristic-popup h3 {
        margin-bottom: 10px;
    }

    .characteristic-popup-text {
        font-size: 18px;
    }

    .characteristic-popup-field span,
    .characteristic-popup-field input,
    .characteristic-popup-listed-char input {
        font-size: 16px;
    }

    .characteristic-popup-buttons
    .bordered-button-default {
        font-size: 15px;
        padding: 10px 5px;
        width: 35%;
    }

    /*�������� ������������� 425*/
    .confirmation-content {
        padding: 0 20px;
    }

        .confirmation-content h1 {
            font-size: 20px;
        }

        .confirmation-content p {
            font-size: 18px;
            text-align: center;
        }

        .confirmation-content .password-confirmation-content {
            width: 100%;
        }
}

@media (max-width: 390px) {
    /*�����*/
    .search-input input {
        font-size: 15px;
    }

    /*�������� ������ 390*/
    .product-page-detail {
        font-size: 15px;
    }

    .products-slider-list-viewport {
        width: 80%;
    }
}

@media (max-width: 375px) {
    /*������� 375*/

    .sort-dropdown,
    .filters-panel-opener,
    .search-and-sort .filter-item-name {
        font-size: 16px;
    }

    .product-list .product {
        width: 100%;
        max-height: 285px;
    }

    .product-list .product-preview-image {
        height: 135px;
    }

    /*�������� ������ 375*/

    .product-page h1 {
        text-align: center;
        font-size: 25px;
    }

    .product-page-detail {
        font-size: 15px;
        margin: 15px 0;
    }

    .product-page-price {
        font-size: 40px;
    }

    .product-price-and-cart .add-to-cart-button {
        padding: 15px 20px;
    }

    .product-page-description p {
        font-size: 16px;
    }

    .product-page-characteristics ul li p {
        font-size: 15px;
    }

    .product-page-header
    .characteristic-interaction-button {
        font-size: 15px;
    }

    .products-slider-list-viewport {
        width: 83%;
    }


    .product-list .product-preview-image {
        height: 160px;
    }

    .pagination-page {
        font-size: 16px;
        padding: 7px;
    }

    /*������� 375*/
    .user-account-button-text {
        font-size: 16px;
    }

    .user-account-field input {
        font-size: 13px;
        width: 60%;
    }

    .user-account-field span {
        width: 40%;
        font-size: 16px;
    }

    /*������ 375*/
    .popup-content {
        width: 300px;
        padding: 15px;
    }

        .popup-content h3 {
            font-size: 20px;
        }

    .authoriization-parameters {
        font-size: 14px;
        margin-bottom: 15px;
    }

    .authorization-alternative {
        margin-top: 10px;
        padding-top: 10px;
    }

    .authorization-popup-button {
        font-size: 18px;
    }

    .authorization-newsletter-checkbox span {
        font-size: 12px;
    }

    .characteristic-popup-field {
        margin: 5px 0;
    }

        .characteristic-popup-field input,
        .characteristic-popup-listed-char input {
            padding: 5px;
        }

        .characteristic-popup-field span,
        .characteristic-popup-field input,
        .characteristic-popup-listed-char input {
            font-size: 13px;
        }

    /*�������� ������������� 375*/

    .confirmation-content .password-confirmation-content h1 {
        font-size: 35px;
    }

    /*�������� ������������� 375*/

    .social-links-author a {
        font-size: 13px;
    }

    .social-links-media a, 
    .social-links-media a:visited {
        font-size: 20px;
    }
}

@media (max-width: 320px) {
    /*�����*/
    .search-input input {
        font-size: 12px;
    }

    .product-list .product-preview-image {
        height: 135px;
    }

    .product-list .product-info-name {
        margin: 5px 0;
    }

    /*�������� ������ 320*/
    .product-page h1 {
        text-align: center;
        font-size: 21px;
    }

    .product-page-detail {
        font-size: 13px;
        margin: 10px 0;
    }

    .product-page-price {
        font-size: 40px;
    }

    .product-price-and-cart .add-to-cart-button {
        padding: 10px 15px;
    }

    .product-page-description p {
        font-size: 15px;
    }

    .products-slider-list-viewport {
        width: 98%;
    }

    /*������� 320*/

    .user-account-button-text {
        font-size: 13px;
    }

    /*������� 320*/

    .cart-item-img {
        width: 40%;
    }

    .cart-item-name {
        font-size: 13px;
    }

    .cart-item-price {
        font-size: 25px;
    }

    .cart-item-size {
        font-size: 15px;
    }

    .cart-order-section p {
        font-size: 15px;
    }

    /*������� 320*/

    .social-links-author a {
        font-size: 11px;
    }

    .social-links-media a,
    .social-links-media a:visited {
        font-size: 16px;
    }

}

@media (hover: hover) {
    .autorization-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .authorization-forget-password-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .switch-auth-mode-button:hover {
        cursor: pointer;
        text-decoration: underline
    }

    .authorization-alternative span:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .authorized-user-panel p:hover {
        color: var(--border-font-color);
    }

    .search-hint:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
    }

    .nav-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .bread-crumb:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .main-page-brand:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .main-page-show-all-button:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .products-slider-scroll-button:hover {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .product-image:hover {
        cursor: pointer;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 20%);
    }

    .product-current-image-icon:hover {
        cursor: default;
        transform: none;
        box-shadow: none;
    }

    .product-page-size-box:hover {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .product:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
    }

    .pagination-page:hover {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .pagination-arrow-unavailable:hover {
        cursor: default;
        border: 2px solid transparent;
    }

    .user-account-button:hover {
        cursor: pointer;
        color: var(--border-font-color);
    }

    .user-account-change-button:hover {
        cursor: pointer;
        font-weight: 600;
        color: var(--border-font-color);
    }

    .cart-item-main:hover {
        cursor: pointer;
        transform: translateX(5px);
    }

    .cart-item-remove-button:hover {
        cursor: pointer;
        color: #fff;
        background: var(--border-font-color);
    }

    .social-links-media a:hover {
        transform: scale(1.1);
    }

    .social-links-author-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .bread-crumb-current:hover {
        cursor: default;
        text-decoration: none;
    }
}

@media (hover: none) {
    .autorization-button:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .authorization-forget-password-button:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .switch-auth-mode-button:active {
        cursor: pointer;
        text-decoration: underline
    }

    .authorization-alternative span:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .authorized-user-panel p:active {
        color: var(--border-font-color);
    }

    .search-hint:active {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
    }

    .nav-button:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .bread-crumb:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .main-page-brand:active {
        cursor: pointer;
        transform: scale(1.05);
    }

    .main-page-show-all-button:active {
        cursor: pointer;
        text-decoration: underline;
    }

    .products-slider-scroll-button:active {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .product-image:active {
        cursor: pointer;
        box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 20%);
    }

    .product-current-image-icon:active {
        cursor: default;
        transform: none;
        box-shadow: none;
    }

    .product-page-size-box:active {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .product:active {
        cursor: pointer;
        box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 20%);
    }

    .pagination-page:active {
        cursor: pointer;
        border: 2px solid var(--border-font-color);
    }

    .pagination-arrow-unavailable:active {
        cursor: default;
        border: 2px solid transparent;
    }

    .user-account-button:active {
        cursor: pointer;
        color: var(--border-font-color);
    }

    .user-account-change-button:active {
        cursor: pointer;
        font-weight: 600;
        color: var(--border-font-color);
    }

    .cart-item-main:active {
        cursor: pointer;
        transform: translateX(5px);
    }

    .cart-item-remove-button:active {
        cursor: pointer;
        color: #fff;
        background: var(--border-font-color);
    }

    .social-links-media a:active {
        transform: scale(1.1);
    }

    .social-links-author-link:active {
        text-decoration: underline;
    }
}